Repository aiidateam/aiida-core, pull requests merged in 2020-11, with the labels that each got.

#4536 Fix hill notation for `get_formula()`
  aiida/orm/nodes/data/structure.py
  tests/orm/data/test_structure.py
Labels: pr/ready-for-review, topic/data-types

#4469 Docs: Move data types to Topics section
  docs/source/datatypes/bands.rst
  docs/source/datatypes/functionality.rst
  docs/source/datatypes/index.rst
  docs/source/datatypes/kpoints.rst
  docs/source/redirects.txt
  docs/source/topics/data_types.rst
  docs/source/topics/include/bands.png
Labels: topic/documentation

#4301 CI: Support for Python 3.9
  .github/workflows/test-install.yml
  pyproject.toml
  requirements/requirements-py-3.9.txt
  setup.json
Labels: topic/dependencies, topics/dependencies/constraint

#4496 Docs: Revise "Get started" flow
  docs/source/conf.py
  docs/source/howto/installation.rst
  docs/source/howto/ssh.rst
  docs/source/intro/get_started.rst
  docs/source/intro/install_conda.rst
  docs/source/intro/install_system.rst
  docs/source/intro/installation.rst
  docs/source/intro/run_docker.rst
Labels: topic/documentation

#4539 Make process functions submittable
  .ci/test_daemon.py
  aiida/engine/launch.py
  aiida/engine/processes/functions.py
  aiida/engine/utils.py
  docs/source/howto/faq.rst
  docs/source/topics/processes/concepts.rst
  docs/source/topics/processes/usage.rst
  tests/engine/test_process_function.py
Labels: topic/processes
