Repository aiidateam/aiida-core, pull requests merged in 2020-07, with the labels that each got.

#4265 Pin Python version for test-install:pip workflow to 3.7.7.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-install.yml
Labels: topic/dependencies, topic/testing

#4269 Run test-install GA workflow only on main repository.
  .github/workflows/test-install.yml
Labels: topic/dependencies

#4271 `verdi computer` option to switch off login shell
  .github/config/localhost-config.yaml
  aiida/transports/plugins/local.py
  aiida/transports/plugins/ssh.py
  aiida/transports/transport.py
  docs/source/intro/troubleshooting.rst
  tests/cmdline/commands/test_computer.py
  tests/transports/test_local.py
  tests/transports/test_ssh.py
Labels: priority/quality-of-life, topic/computers, topic/transports, topic/verdi

#4284 Docs: Fix broken link to work chain exit codes
  docs/source/topics/workflows/usage.rst
Labels: topic/documentation
